.body {
	background-color: #60c98f;
}

.dashboardHeaderOpen h1{
  margin-left: -9%;
  margin-top: .9%;
}

.dashboardHeaderClosed h1{
  margin-left: -26%;
  margin-top: .9%;
}


.sidebar {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    width: 208px;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    font-family: "Lato";
    color: black;
    text-transform: uppercase;
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.sideclose {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    width: 60px;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    font-family: "Lato";
    color: black;
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.link{
  color: black;
  text-decoration: none;
}

.link:visited {
    color: black;
    text-decoration: none;
}

.link:hover {
    color: #3C9A5F;
    text-decoration: none;
    font-weight: bold;
}

.link:active {
    color: #3C9A5F;
    text-decoration: none;
}

.sidebar > a {
	margin-bottom: 50px;
}

.search {
	border-radius: 10px;
}

.space {
	height: 100px;
}

.fa-graduation-cap {
	padding-left: 64px;
}

.title {
	padding-left: 29px;

}

.subject {
    background: transparent;
    border: none;
    border-bottom: 5px dashed black;
    width: 500px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-size: 50px;
    color: black;
}

.deck {
    margin-bottom: 25px;
}
.wrap {
    word-wrap: break-word;
    width: 400px;
    margin-left: -30%;
}

.white{
  -webkit-transition: all .10s linear !important;
  -moz-transition: all .10s linear !important;
  -o-transition: all .10s linear !important;
  transition: all .10s linear !important;
}

.whiteOpen {
  margin-left: 0%;
  height: 350px;
  width: 583px;
  background-color: #F5F5F5;
  box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.createSubjectOpen{
  margin-left: 33%;
  height: 350px;
  width: 583px;
  background-color: #F5F5F5;
  box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.whiteClosed{
  margin-left: -17%;
  height: 350px;
  width: 583px;
  background-color: #F5F5F5;
  box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.hideQuestion{
  display: none;
}
.newcard {
  background: transparent;
  border-bottom: none;
  width: 530px;
  outline: none;
  font-size: 20px;
  color: black;
}

.selectExistingClassButtons{
  background-color: orange;
  width:100%;
  padding: 5%;
}

.selectExistingClassButtons button{
  height:50px;
  width: 100px;
}

.newSubjectInput{
  margin-top:4%;
}

.selectASubject{
  margin-top:2%;
}

.newSubject {
  background: transparent;
  border: none;
  border-bottom: 5px dashed black;
  width: 500px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-size: 50px;
  color: black;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.button {
/* BUTTON STYLING */
  border-top: 1px solid #fff;
  box-shadow: 0 5px 8px #002851, 0 8px 0 #002851, -2px 1px 0 #003872, 2px 1px 0 #003872, 0px 8px 10px #000, 0 10px 30px #1b1b1b;
  /* FONT STYLING */
  font: bold 30px 'Trebuchet Ms', helvetica;
  letter-spacing: 4px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #00172e,1px 1px 1px #a1cfff;
  color: #14467a;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
}


.dash-title {
  text-shadow: ;
}

textarea{
  /*text-decoration: underline;*/
  line-height:30px;
  font-weight:bold;
  color:#FF9900;
  font-size: 20px;
  resize:none;
}

form{
  word-wrap: break-word;
}

label{
  padding-left: 19.5%;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.questionOnAnswerPage{
  height: 142px;
  width: 583px;
  margin-left: -35%;
  font-size: 25px;
  font-weight: bold;
}

.createSubjectHeader{
  background-color:red;
  text-align: center;
  width: 100%;
}

.createSubjectHeader h1{
  
}

.subject1 {
  margin-left: 50%;
}

.subject2 {
  margin-left: 10%;
}

.subject3 {
  margin-left: 5%;
}

.subject4 {
  margin-left: 17%;
}

.deck label{
  margin-top: -45%;
}

.questionOnAnswerPageTutorial{
  height: 142px;
  width: 583px;
  margin-left: -13%;
  font-size: 25px;
  font-weight: bold;
}

.submitCard {
  margin-left: 58%;
}

.submitCardTutorial {
  margin-left: 48%;
}

.class1{
  margin-left: 40%;
}

.class2{
  margin-left: 20%;
}

