<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-5">
		<div class="space"></div>
			<div ng-class="open ? 'whiteClosed' : 'whiteOpen'" class="white">
				<form>	
						<div class="row deck">
							<div class="col-md-6">
								<label class="smaller">Existing Subject</label>
								<select ng-model='newCard.subject'>
										<option ng-repeat= "subject in subjects.data">{{subject.name}}</option>
								</select>
							</div>
							<div class="col-md-6"> 
										<label ng-click="expandLine()" class="smaller">New Subject</label>
										<br>
								</div>
						</div>
						<div class="row">
							<input ng-show="new" ng-model= "newCard.newSubject" class="newcard">
						</div>
							
						<div class="row">
							<div class='questionCard' ng-show='!visible'>
								<label>Question</label>
								<div class="wrap">
								<textarea ng-model="newCard.question" class="cardinput" rows='5' columns='30' maxlength='650'></textarea>
								<br>
								<button ng-click="showAnswer();" class='submitCard'>Flip to Answer</button>
							</div>
							<br>
						</div>
					</div>
						<div class='answerCard' ng-show='visible'>
								<label>Answer</label>
								<div class='wrap'>
								<textarea ng-model="newCard.answer" class="cardinput" rows='5' columns='30' maxlength='650'></textarea>
								<br>
							</div>
							<br>
							<input ng-click="addCard();" type="submit" value="Submit" class='submitCard'>
							</div>
					
						</form>
					</div>
					<div ng-show= "visible" class="row">
						<div class="col-md-4 col-md-offset-4">
							<h4>Your Question</h4>
					<div class='questionOnAnswerPage'>{{newCard.question}}</div>
				</div>
				</div>
					</div>
		</div>
	</div>
</div>
