<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-5">
		<div class="space"></div>
			<div class="white">
			<div class="row deck">
				<div class="col-md-8"></div>
				<div class="col-md-4"></div>
				</div>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-9">
						<form ng-submit="addCard()">
							<label>Choose an Existing Subject</label>
							<select ng-model='newCard.subject'>
								<option ng-repeat= "subject in subjects.data">{{subject.name}}</option>
							</select>
							<br> OR
							<br>
							<label> Add New Subject</label>
							<input ng-model= "newCard.newSubject" class="newcard">
							<div class="wrap">
								<label>Question</label>
								<input ng-model="newCard.question" class="newcard">
								<br>
								<br>
								<label>Answer</label>
								<input ng-model="newCard.answer" class="newcard">
							</div>
							<br>
							<input type="submit" value="Submit">
						</form>
					</div>
					</div>
		</div>
	</div>
</div>
